@inherits LayoutComponentBase

<PageTitle>GuruBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>


        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
<div class="position-relative bottom-0 start-0">
    <footer class=" text-white sidegrade bg-opacity-25">
        <p class="text-center fs-5 font-monospace"> Email:kuraihjorth@gmail.com</p>
    </footer>
</div>

