@page "/"
@inject AgeCalc ageCalc

<PageTitle>Index</PageTitle>

<html lang="da" class="h-100">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rasmus Hjorth, Datatekniker">
    <meta name="author" content="Rasmus Hjorth med hjælp fra bootstrap">
    <meta name="keywords" content="back end, datatekniker, C#, lærling, praktik">

    <title>Rasmus Hjorth Datatekniker</title>


</head>



<body>
    <main>
        <div class="container-sm my-5">
            <header class="h1">Rasmus Peter Hjorth</header>
            <div class="border w-25 mb-2 border-success"></div>

            <h3> @ageCalc.Age år. Datatekniker / Multimediedesigner </h3>

            <p class="lead">Datatekniker der søger læreplads, har arbejdet med video, computer opbygning og kan ikke vente med at lære nye ting. Kan skille ting ad og samle dem igen, og er klar på udfordringer og højt tempo.</p>
        </div>
        <!--Container udenom tekst, 1 til 100% background. 1 til tekst-->

        <div class="container-fluid bg-black bg-opacity-10  shadow-sm rounded p-3">

            <div class="container">

                <h2 class="pb-2">Omkring mig</h2>

                <p>@ageCalc.Age årig som er i gang med Datatekniker uddannelsen med speciale i programmering jeg er færdig med hovedforløb og er nuværende i skolepraktik, jeg er bosat i Lyngby og er vokset op i Helsingør. </p>
                <p>Jeg har en stor passion for systemer og derfra også design, jeg har erfaring med lidt af hvert blandt andet video editor, VR showrunner og multimediedesign. </p>
                <p>De sidste par år har jeg haft et væsentligt paradigme skifte og begyndte at arbejde med back end, jeg fandt ud af at det var meget sjovere end jeg troede, siden da har jeg arbejdet uafbrudt med at lære nye ting; et godt design er også et godt system. </p>
                <p>Jeg har arbejdet som ungearbejder på Helsingør Ungdomskole som VR showrunner, jeg har også arbejdet some service i Sunset Boulvevard hvor jeg sørgede for rengøring af maskiner. Så jeg er hverken bange for at lave god kundeservice eller få beskidte hænder hvis det er det der skal til.</p>
                <p>Yderligere har jeg dyrket kampsport i 7 år og træner lige for tiden styrketræning med fokus på funktion.</p>

            </div>

        </div>

        <!--Liste til CV-->
        <div class="container py-5"></div>
        <!--Start på backend erfaringer!-->
        <p class="h2">
            Erfaringer
            <i class="bi bi-braces"></i>
        </p>

        <div class="d-flex lead flex-column mb-3 bg-black bg-opacity-10 rounded-1 border border-top-0 border-end-0 shadow border-success p-1">


            <div class="px-2 pb-3 pt-1">
                <div class="h4">C#</div> Jeg har erfaring med at lave blazor programmer og har forståelse på OOP udvikling.

                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" aria-label="powerful animated bar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
            </div>


            <div class="px-2 pb-3">
                <div class="h4 font-monospace">Html5</div> Forståelse for det meste. Kan opsætte en hjemmeside i ren html5.
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" aria-label="powerful animated bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
            </div>

            <div class="px-2 pb-3">
                <div class="h4">CSS</div>  Opsætning og brug stadigvæk meget at lære.
                <div class="progress mt-2">
                    <div class="progress-bar  " role="progressbar" aria-label="powerful animated bar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                </div>
            </div>

            <div class="px-2 pb-3">
                <div class="h4">Bootstrap</div> (Siden er lavet i Bootstrap) kan bruge alle dens basis features.
                <div class="progress mt-2">
                    <div class="progress-bar" role="progressbar" aria-label="powerful animated bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>
        </div>

        <!--Første 3 bokse med info, auto 3  kopieret senere med mellemrund-->
        <div class="container mt-5 bg-black bg-opacity-10 p-3 rounded-3 border-bottom border-success ">

            <div class="row">

                <div class="col-sm-4">
                    <h3>CCNA ITN certified  </h3>
                    <p>Jeg er familiær med Ciscos systemer og kan sætte både router og switch op</p>
                    <p>Jeg har derved erfaring med LAN, basic configuration af router og switches samt implementering af IPv4 og IPv6 </p>
                </div>

                <div class="col-sm-4">
                    <h3>OS</h3>
                    <p>Som datatekniker kan jeg både sætte Windows op på en computer, men også flere virtuale maskiner</p>
                    <p>Det betyder at jeg også kan sætte brugerrettigheder op med ting som MMC og er erfaren med Windows debugging</p>
                </div>

                <div class="col-sm-4">
                    <h3>Opbygning af PC</h3>
                    <p>Jeg har skilt, opgraderet, samlet og fejlfundet PC'er siden jeg kunne få fat på dem. </p>
                    <p>Det vil sige at jeg ikke er sky for at fejlfinde på forskellige maskiner fysisk, tålmodighed og metode er i højsædet</p>
                </div>

            </div>

        </div>


        <!--3 næste infobokse med samme layout, splittet så de ikke hænger sammen-->
        <div class="container mt-5 bg-black bg-opacity-10 p-3 rounded-3 border-bottom border-success">

            <div class="row">

                <div class="col-sm-4">
                    <h3>Git, Gitbash og Github <i class="bi bi-github"></i> </h3>
                    <p>Jeg bruger Github til at holde styr på mine projekter og det er også her hjemmesiden er hostet!</p>
                    <p>Jeg bruger også Git gennem Gitbash, ofte linker jeg Visual studio code til min Github så jeg kan arbejde endnu hurtigere </p>
                </div>

                <div class="col-sm-4">
                    <h3>Førstehjælp og Brandbekæmpelse</h3>
                    <p>Som datatekniker er jeg nyligt uddannet i Førstehjælp og Brandbekæmpelse</p>
                    <p></p>
                </div>

                <div class="col-sm-4">

                </div>

            </div>

        </div>

        <!--Slut på backend erfaringer!-->






        <div class="container py-5"</div>>
        <!--Start på Frontend erfaringer!-->

        <p class="h2">Adobe Programmer</p>

        <p> Som fuldudddanet multimediedesiger har jeg også erfaring med de fleste Adobe programmer, jeg er især glad for at lave logoer og content. Jeg er også altid frisk på at lave et mock-up.</p>



        <!--Progress bars - Adobe+Frontend-->
        <div class="flex-row mb-3 bg-black bg-opacity-10 rounded-1 border border-success p-1">


            <div class="p-2">
                Photoshop
                <div class="progress ">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>


            <div class="p-2">
                Illustrator
                <div class="progress">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
            </div>

            <div class="p-2">
                InDesign
                <div class="progress">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%"></div>
                </div>
            </div>

            <div class="p-2">
                Premiere pro

                <div class="progress">

                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>

                </div>

            </div>

        </div>


        <div class="container py-5">
            <p>Er du nysgerrig efter at lære mere om hvad en datatekniker kan? Læs alt om det nedenunder. </p>
            <p class="h5">Bekendtgørelse om data- og kommunikationsuddannelsen</p>
            <!--blank åbner link i ny fane, så man ikke bliver revet væk fra siden-->
            <a class="btn btn-primary mt-1" href="https://www.retsinformation.dk/eli/lta/2019/397" role="button" target="_blank">Læs mere</a>
        </div>









    </main>
</body>
</html>


@code {


    protected override void OnInitialized()
    {
        ageCalc.CalculateAge();
    }
}