@page "/"
@inject AgeCalc ageCalc

<PageTitle>Index</PageTitle>

<html lang="da" class="h-100">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rasmus Hjorth, Datatekniker">
    <meta name="author" content="Rasmus Hjorth">
    <meta name="keywords" content="back end, datatekniker, C#, lærling, praktik">

    <title>Rasmus Hjorth Datatekniker</title>


</head>



<body>
    <main>
        <div class="container-sm my-5">
            <header class="h1">Rasmus Peter Hjorth</header>
            <div class="border w-25 mb-2 border-success"></div>

            <h3> @ageCalc.Age år. Datatekniker / Multimediedesigner </h3>

            <p class="lead">Datatekniker der søger læreplads, har arbejdet med video, computer opbygning og kan ikke vente med at lære nye ting. Kan skille ting ad og samle dem igen, og er klar på udfordringer og højt tempo.</p>
        </div>
        <!--Container udenom tekst, 1 til 100% background. 1 til tekst-->

        <div class="container-fluid boxes p-3">

            <div class="container">

                <h2 class="pb-2">Omkring mig</h2>

                <p>@ageCalc.Age årig som er i gang med Datatekniker uddannelsen med speciale i programmering jeg er færdig med hovedforløb og er nuværende i skolepraktik, jeg er bosat i Lyngby og er vokset op i Helsingør. </p>
                <p>Jeg har en stor passion for systemer og derfra også design, jeg har erfaring med lidt af hvert blandt andet video editor, VR showrunner og multimediedesign. </p>
                <p>De sidste par år har jeg haft et væsentligt paradigme skifte og begyndte at arbejde med back end, jeg fandt ud af at det var meget sjovere end jeg troede, siden da har jeg arbejdet uafbrudt med at lære nye ting; et godt design er også et godt system. </p>
                <p>Jeg har arbejdet som ungearbejder på Helsingør Ungdomskole som VR showrunner, jeg har også arbejdet some service i Sunset Boulvevard hvor jeg sørgede for rengøring af maskiner. Så jeg er hverken bange for at lave god kundeservice eller få beskidte hænder hvis det er det der skal til.</p>
                <p>Yderligere har jeg dyrket kampsport i 7 år og træner lige for tiden styrketræning med fokus på funktion.</p>
            </div>

        </div>

        <!--Liste til CV-->
        <div class="container py-5"></div>
        <!--Start på backend erfaringer!-->
        <p class="h2">
            Erfaringer
            <i class="bi bi-braces"></i>
        </p>

        <div class="d-flex lead flex-column mb-3 boxes p-1">

            <div class="px-2 pb-3 pt-1">
                <div class="h4">C#</div> Jeg har erfaring med at lave blazor programmer og har forståelse på OOP udvikling.
            </div>

            <div class="px-2 pb-3">
                <div class="h4 font-monospace">Html5</div> At arbejde med HTML5 er altid hyggeligt og jeg har haft det på hovedforløb 1.
            </div>

            <div class="px-2 pb-3">
                <div class="h4">CSS</div>  Flexbox, Zlayers og containers. Man kan ret meget med CSS som mange bruger Javascript eller lignende til. Jeg bruger gerne ren CSS på mine hjemmesider.
            </div>

            <div class="px-2 pb-3">
                <div class="h4">Bootstrap</div> Kan arbejde med Bootstrap om nødvendigt men foretrækker ren HTML og CSS, siden her er lavet med en blanding da den er blevet løbende opdateret.
            </div>
        </div>

        <!--Første 3 bokse med info, auto 3  kopieret senere med mellemrund-->
        <div class="container mt-5 boxes p-3">

            <div class="row">

                <div class="col-sm-4">
                    <h3>CCNA ITN certified</h3>
                    <p>Jeg er familiær med Ciscos systemer og kan sætte både router og switch op</p>
                    <p>Jeg har derved erfaring med LAN, basic configuration af router og switches samt implementering af IPv4 og IPv6 </p>
                </div>

                <div class="col-sm-4">
                    <h3>OS</h3>
                    <p>Som datatekniker kan jeg både sætte Windows op på en computer, men også flere virtuale maskiner</p>
                    <p>Det betyder at jeg også kan sætte brugerrettigheder op med ting som MMC og er erfaren med Windows debugging</p>
                </div>

                <div class="col-sm-4">
                    <h3>Opbygning af PC</h3>
                    <p>Jeg har skilt, opgraderet, samlet og fejlfundet PC'er siden jeg kunne få fat på dem. </p>
                    <p>Det vil sige at jeg ikke er sky for at fejlfinde på forskellige maskiner fysisk, tålmodighed og metode er i højsædet</p>
                </div>

            </div>

        </div>


        <!--3 næste infobokse med samme layout, splittet så de ikke hænger sammen-->
        <div class="container mt-5 boxes">

            <div class="row">

                <div class="col-sm-4">
                    <h3>Git, Gitbash og Github <i class="bi bi-github"></i> </h3>
                    <p>Jeg bruger Github til at holde styr på mine projekter og det er også her hjemmesiden er hostet!</p>
                    <p>Jeg bruger også Git gennem Gitbash, ofte linker jeg Visual studio code til min Github</p>
                </div>

                <div class="col-sm-4">
                    <h3>Førstehjælp og Brandbekæmpelse</h3>
                    <p>Som datatekniker er jeg nyligt uddannet i Førstehjælp og Brandbekæmpelse</p>
                    
                </div>

                <div class="col-sm-4">

                </div>

            </div>

        </div>

        <!--Slut på backend erfaringer!-->






        <div class="container py-5"</div>
        <!--Start på Frontend erfaringer!-->

        <p class="h2">Adobe Programmer</p>

        <p> Som multimediedesiger har jeg også erfaring med de fleste Adobe programmer, jeg er glad for at lave logoer og content. Jeg er også altid frisk på at lave et mock-up.</p>



        <!--Progress bars - Adobe+Frontend-->
        <div class="flex-row mb-3 boxes p-1">


            <div class="p-2">
                Photoshop
                <div class="progress">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>
            </div>


            <div class="p-2">
                Illustrator
                <div class="progress">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                </div>
            </div>

            <div class="p-2">
                InDesign
                <div class="progress">
                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%"></div>
                </div>
            </div>

            <div class="p-2">
                Premiere pro

                <div class="progress">

                    <div class="progress-bar " role="progressbar" aria-label="powerful animated bar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>

                </div>

            </div>

        </div>












    </main>
</body>
</html>


@code {


    protected override void OnInitialized()
    {
        ageCalc.CalculateAge();
    }
}